$background_primary: #eeeeee;
$background_secondary: #ffe600;
$background_white: #ffffff;

$color_primary: #333333;
$color_secondary: #999999;
$color_grey: #666666;


$font_family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
