$assets_logo: "../../assets/images/Logo_ML.png";
$assets_logo_h: 36px;
$assets_logo_w: 53px;

$assets_logo_retina: "../../assets/images/Logo_ML@2x.png";
$assets_logo_retina_h: 72px;
$assets_logo_retina_w: 106px;

$assets_search: "../../assets/images/ic_Search.png";
$assets_search_retina: "../../assets/images/ic_Search@2x.png";

$icon_size: 18px;
$icon_size_retina: 36px;
